.contato{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-areas: 
    "title title title"
    "contato social link";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.contato-container{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contato-container h3{
    font-size: 1.5rem;
}
.contato-item{
    display: flex;
    gap: 12px;
}
.contato-item__icon{
    font-size: 1.25rem;
}
.social-container{
    grid-area: social;
    display: flex;
    gap: 32px;
    justify-content: center;
}
.social{
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-content: center;
    font-size: 2rem;
    transition: color .5s;
}
.social:hover{
    color: var(--primary-color);

}
.link-container{
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}
.link-container h3 {
    font-size: 1.5rem;
}

@media (max-width: 960px) {

    .contato{
        grid-template-areas: 
        "title title title"
        "contato  link"
        "social social social";
        grid-template-rows: auto 1fr 1fr;
        align-items: unset;
        gap: 45px; 
    }    
    .contato-container{
        margin-left: 15%;
    }
    .contato-container h3{
        grid-area: contato;
        display: flex;
        align-self: center;
        text-align: center;
        margin-left: 32px;
    }
    .contato-item__icon{
        font-size: 1rem;
    }
    .social-container{
        grid-area: social;
        display: flex;
        justify-self: center;
        margin-top: 70%;
    } 
    .social{
        font-size: 36px;
        
    }
    .link-container{
        grid-area: link;
        display: flex;
        align-items: center;
        
    }
    .link-container h3 {
        font-size: 1.2rem;  
    }

}

@media(max-width: 640px) {

    .contato{
        grid-template-areas: 
        "title"
        "contato"
        /* "social" */
        "link"; 
        height: fit-content;  
        justify-content: center; 
        align-self: center;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto;
        /* grid-template-rows: repeat(4, auto);  */
    }    
    .contato-container{
        grid-area: contato;
        display: flex;
        justify-self: center;
        margin-left: 0%; 
    }
    .contato-container h3{
        grid-area: title; 
        display: flex; 
        text-align: center; 
        justify-self: center; 
    }
    .social-container{
        grid-area: contato; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        /* gap: 50px; */
        /* height: 150px; */
    } 
    
    .link-container{
        grid-area: link;
        display: flex;
        margin-bottom: 70px; 
        justify-self: center;
    }
    .link-container h3 {
        font-size: 1.5rem;  
    }
}