.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -40px 40px #000;
}
.profile{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 64px;
}
.profile__foto{
    filter: grayscale();
}
.profile__text{
    font-size: 1.25rem;
}
.profile__name{
    font-size: 4rem;
    color: var(--primary-color);
}

@media (max-width: 960px) {
    .profile{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .profile__foto{
        max-width: 55%;
    }
    .profile__text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.85rem;
    }
    .profile__name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.05rem;
    }
}

@media (max-width: 640px) {
    .profile{
        gap: 35px;
    }
    .profile__foto{
        max-width: 60%;
    }
    .profile__text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
    }
    .profile__name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.75rem;
    }
}



