.logo{
     font-size: 1.25rem; 
}
.logo::before{
    content: "<";
    font-size: 1.75rem;
    color: var(--primary-color);
    font-weight: 700;
}
.logo::after{
    content: "/>";
    font-size: 1.75rem;
    color: var(--primary-color);
    font-weight: 700;
}

@media (max-width: 960px) {
    .logo{
        font-size: 1.25rem;
    }
    .logo::before{
        font-size: 1.25rem;
        font-weight: 400;
    }
    .logo::after{
        font-size: 1.25rem;
        font-weight: 400;
    }
}

@media (max-width: 640px) {
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
    }
    .logo::before{
        font-size: 1.75rem;
    }
    .logo::after{
        font-size: 1.75rem;
    }
}