.sobre-mim{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "title title"
    "description skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.description__title{
    font-size: 48px;
    color: var(--primary-color);
}
.description__text{
    font-size: 1.5rem;
    width: 85%;
    line-height: 150%;
}
.skills{
    grid-area: skills;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.skills__title{
    font-size: 48px;
    color: var(--primary-color);
}
.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.skills__icon{
    width: 150px;
    height: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.skills__icon i{
    font-size: 2.5rem;
}
.skills__icon span{
    font-weight: 700;
}

@media (max-width: 960px) {
    
    .sobre-mim{
        height: 20%;
        width: 90%;
        display: grid;
        grid-template-areas: 
        "title"
        "description" 
        "skills";
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns:auto;
    }
    .description__title {
        font-size: 35px;
    }
    .skills{
        gap: 10px; 
    }
    .skills__title {
        font-size: 35px;
    }
    .skills__icon i{
        font-size: 3.5rem;
    }
    .skills__icon span{
        font-size: 1.75rem;
    }
    .skills__container{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 32px;
    }
}
@media(max-width: 640px) {
    .sobre-mim{
        display: flex;
        flex-direction: column;
        
    }
    .description__title {
        font-size: 25px;
        text-align: center;
    }
    .description__text {
      font-size: 1rem;
      margin-left: 32px;
      text-align: center;
    }
    .skills__title {
        font-size: 25px; 
    }
    .skills__container{
        display: grid;
        justify-content: center;
        gap: 32px;
    }
    .skills__icon span{
        font-weight: 700;
    }
}